@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');
    @media (min-width: 1200px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 1257px;
        }
    }
    
    .dropdown-menu.dropdown-menu-right.show.ajust-filter {
        width: 100%;
    }
    
    div#ajust-menu {
        width: 100%;
        display: block;
        margin: auto;
    }
    
    #header>nav {
        background-color: #191928;
    }
    
    #navbarSupportedContent>ul>li.nav-item>a {
        color: #ebebeb;
    }
    
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #6b8ea6 !important;
    }
    
    div#form-adjust {
        display: flex;
        padding: 0;
    }
    /* Slide */
    
    body>div>div.site__body>div.block-slideshow.block-slideshow--layout--full.block>div>div>div {
        padding: 0px;
    }
    /* Fim Slide */
    
    .testimonials {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 30%;
            background-color: #ddd;
        }
    }
    
    #customers-testimonials {
        .item-details {
            background-color: #333333;
            color: #ebebeb;
            padding: 20px 10px;
            text-align: left;
            h5 {
                margin: 0 0 15px;
                font-size: 18px;
                line-height: 18px;
                span {
                    color: red;
                    float: right;
                    padding-right: 20px;
                }
            }
            p {
                font-size: 14px;
            }
        }
        .item {
            text-align: center;
            padding: 20px;
            margin-bottom: 80px;
        }
    }
    
    .owl-carousel .owl-nav [class*='owl-'] {
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    
    .owl-carousel .owl-nav [class*='owl-'].disabled:hover {
        background-color: #D6D6D6;
    }
    
    .owl-carousel {
        position: relative;
    }
    
    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        font-size: 20px;
        color: #ebebeb;
        border: 1px solid #ddd;
        text-align: center;
    }
    
    .owl-carousel .owl-prev {
        left: 0px;
    }
    
    .owl-carousel .owl-next {
        right: 0px;
    }
    
    .item-details {
        text-align: center;
    }
    
    .block-slideshow {
        margin-bottom: 0px;
        position: relative;
    }
    /* .shadow-effect {
        border-right: 0.2px solid #6a8da5;
    } */
    
    i.fa.fa-angle-left {
        font-size: 30px;
    }
    
    i.fa.fa-angle-right {
        font-size: 30px;
    }
    
    .item-details {
        min-height: 48px;
    }
    
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        background: 0 0;
        color: #6a8da5;
        border: none;
        padding: 0 !important;
        font: inherit;
    }
    
    #customers-testimonials>div.owl-nav.disabled {
        display: block;
    }
    
    #customers-testimonials>div.owl-nav.disabled>button.owl-next:focus,
    #customers-testimonials>div.owl-nav.disabled>button.owl-prev:focus {
        outline: none;
    }
    
    .block.block-brands.color_blue {
        background-color: #191928;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    
    .color__white {
        color: #ebebeb;
    }
    
    .pading__space.color__white {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .block-header__arrow:active {
        fill: #ebebeb;
    }
    
    button.footer-newsletter__form-button.btn.btn-primary.color__white:hover {
        background-color: #ebebeb;
        color: #6a8da5;
        border-color: #6a8da5;
    }
    
    span.fa.fa-star.checked {
        color: #ffd333;
    }
    
    span.fa.fa-star {
        color: #ccc;
    }
    
    span.adjust-hello {
        display: flex;
        font-size: 15px;
    }
    
    a.nav-link.dropdown-toggle.special-drop::after {
        display: inline;
        margin-left: .255em;
        vertical-align: -0.8rem;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    
    .block-slideshow__slide-image.block-slideshow__slide-image--desktop {
        background-size: cover;
    }
    
    .block-slideshow__slide-image.block-slideshow__slide-image--mobile {
        background-size: cover;
    }
    /* Menu */
    
    a.nav-link {
        color: #ebebeb;
    }
    
    a.nav-link:hover,
    a.nav-link:active {
        color: #6a8da5;
    }
    
    .bg-custom {
        background-color: #191928;
    }
    
    #header .row {
        margin-right: -5px;
        margin-left: -5px
    }
    
    #header .col,
    #header .col-auto {
        padding-right: 5px;
        padding-left: 5px
    }
    
    #header_bottom {
        height: 46px;
        margin-bottom: 12px;
    }
    
    #header_logo_left {
        float: left
    }
    
    #header_logo_right {
        display: none
    }
    
    #header_cart {
        position: relative
    }
    
    #header_cart_qty {
        position: absolute;
        top: 0;
        right: 12px;
        font-size: 11px;
        line-height: 14px;
        background: #212529;
        border-radius: 50%;
        color: #ebebeb;
        height: 14px;
        width: 14px;
        text-align: center
    }
    
    #header_cart a {
        font-size: 1.5rem;
        text-decoration: none
    }
    
    #header_cart a .badge {
        color: #ebebeb
    }
    
    #header_top a {
        display: block;
        line-height: 31px
    }
    
    #header_top a:hover {
        text-decoration: none
    }
    
    #header_nav {
        clear: both
    }
    
    #header .collapsing {
        position: initial;
        height: initial;
        overflow: initial;
        transition: initial
    }
    
    a#header_menu_toggler {
        margin-left: 15px;
    }
    
    span.adjust-hello {
        display: flex;
        font-size: 15px;
        height: 20px;
        font-weight: 300;
    }
    
    a.nav-link {
        font-weight: 500;
    }
    
    #header_nav a {
        margin-right: 8px !important;
    }
    
    #header_nav>a.indicator__button {
        top: -8px;
        display: -webkit-inline-box;
        position: relative;
    }
    
    .indicator__area {
        background: transparent;
        transition: background-color .2s;
        border-radius: 2px;
        height: 67px;
        padding: 0 3px;
        display: -ms-flexbox;
        display: initial;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 60px;
    }
    
    button.btn.btn-search.wrn-btn {
        background-color: #9b9bc5;
        border-color: #9b9bc5;
    }
    
    button.btn.btn-default {
        background-color: #f1f1f6;
    }
    
    span#search_concept {
        color: #191928;
    }
    
    a.nav-link.no_pading {
        padding-bottom: 0;
        padding-top: 0;
    }
    
    @media only screen and (max-width: 600px) {
        div#header_top {
            margin: 10px;
        }
        div#header_nav {
            margin-top: 10px;
        }
        #header_nav>a.indicator__button {
            top: 5px;
            display: -webkit-inline-box;
            position: relative;
            left: 10px;
        }
    }
    
    @media screen and (prefers-reduced-motion:reduce) {
        #header .collapsing {
            transition: initial
        }
    }
    
    @media (min-width: 576px) {
        #header .row {
            margin-right: -15px;
            margin-left: -15px
        }
        #header .col,
        #header .col-auto {
            padding-right: 15px;
            padding-left: 15px
        }
        #header_logo_right {
            float: left;
            display: block;
            margin-left: 4px
        }
        div#header_top {
            margin-top: 10px;
        }
    }
    
    @media (min-width: 992px) {
        #header_menu_toggler {
            display: none !important
        }
        #header_nav a {
            display: inline-block;
            margin-right: 20px
        }
        #header_nav {
            clear: none;
            display: block !important;
            float: left
        }
    }
